.barNav{
    
    display: flex;
    align-items: center;
    border-width: 0.5px;
    border-style: solid;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 8rem;

}

.contenedorizquierdo{
    display: flex;
    height: 8rem;
}

.logo{
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedorMedio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 25px;
    border-color:   #cccccc;
    height: 3.5rem;
    align-items: stretch;
    width: 35rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.inputmedio{
    border-radius: 25px;
    outline: none;
    border: 2px solid pink;
    border:none;
}

.contenedorMedioBotones{
    display: flex;
    justify-content: space-evenly;
    width: 25rem;    
}

.contenedorMedioBotones button{
    cursor: pointer;
    height: 100%; 
    border-radius: 35px;
    margin: 0;
    flex: 1;
    border:none;
}

.lupaBusqueda{
    border-radius: 50%;
    padding: 0.5rem;
    background-color: yellow;
    width: 34px;
    display: flex;
    flex-direction: row;
    align-items: center;justify-content: center;
}
.contenedorderecho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

